@import "compass";

$sans: "PT Sans", "Helvetica Neue", Arial, sans-serif !default;
$serif: "PT Serif", Georgia, Times, "Times New Roman", serif !default;
$mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default;
$heading-font-family: "PT Serif", "Georgia", "Helvetica Neue", Arial, sans-serif !default;
.sans { font-family: $sans; }
.serif { font-family: $serif; }
.mono { font-family: $mono; }

@import "base/_theme.scss";
@import "base/_utilities";
@import "base/_solarized";
@import "partials/_syntax";

body {
  padding-top: 50px;
}

.meta {
  text-align: right;
  margin-top: 20px;
  margin-bottom: 20px;

}
h2 {
  margin-top: 50px;
  border-bottom: 1px solid gray;
}

pre code .line {
  white-space: nowrap !important;
  display: block;
}
pre code .line, pre .line-number {
  line-height: 18px !important;
  height: 18px !important;
}

aside.sidebar {
  section {
    background-color:#FCFCFC;
    border: solid 1px #F0F0F0;
    border-color-bottom: white;
    border-color-right: white;
    padding: 10px;
    margin-top: 20px;
    h1 {
      font-size: 16px;
      margin-top:0px;
    }
  }
}

header > h1 {
  margin-top: 60px;
  font-size: 40px;
}


.blog-index article {
  padding-bottom: 50px;
  border-bottom: 3px gray double;

  h1 a {
    color: black;
  }
}

#blog-archives {
  article {
    margin-left: 30px;
    times,footer {
      float: left;
      padding-right: 20px;
    }
  }
  h1 {
    margin-top:0px;
    height: 30px;
    a { 
      line-height: 30px;
      font-size: 28px;
      color: #333;
    }
  }
}
