<section>
<h1><i class="fa fa-twitter"></i> tweet</h1>
<div style="text-align:right">
<a class="twitter-timeline" href="https://twitter.com/tk_hamaguchi" data-widget-id="430550485729148928" width="220" height="300" data-chrome="noheader nofooter transparent">@tk_hamaguchi からのツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<div style="text-align:center">
<a href="https://twitter.com/tk_hamaguchi" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @tk_hamaguchi</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
</section>

