<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ja"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="post-index" {% if page.image.feature %}class="feature"{% endif %}>

{% include browser-upgrade.html %}
{% include navigation.html %}

<div class="entry-header postpage">
  <a href="{{ site.url }}/">
    {% if page.image.credit %}<div class="image-credit">Image source: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></div><!-- /.image-credit -->{% endif %}
    {% if page.image.feature %}
      <div class="entry-image">
        <img src="{{ site.url }}/images/bg.png" alt="{{ site.title }}">
      </div><!-- /.entry-image -->
    {% endif %}
    <div class="header-title">
      <div class="header-title-wrap">
        <p>{{ site.title }}</p>
      </div><!-- /.header-title-wrap -->
    </div><!-- /.header-title -->
  </a>
</div><!-- /.entry-header -->

<div id="main" role="main">
  <article class="hentry">
    <header>
      <div class="entry-meta">
        {% if page.image.feature %}
        <span class="entry-date date published updated"><time datetime="{{ page.date | date_to_xmlschema }}"><a href="{{ site.url }}{{ page.url }}">{{ page.date | date: "%B %d, %Y" }}</a></time></span><span class="author vcard"><span class="fn" style="text-transform: none;"><a href="https://about.me/{{ site.owner.aboutme }}" title="About {{ site.owner.name }}">{{ site.owner.name }}</a></span></span>
          {% if site.reading_time %}
        <span class="entry-reading-time">
          <i class="fa fa-clock-o"></i>
            {% include read-time-index.html %}
        </span><!-- /.entry-reading-time -->
          {% endif %}
        <a href="{{ site.url }}{{ page.url }}" title="{{ page.title }}"><div class="entry-image-index2 postpageimage" style="background-image:url({{ site.url }}/images/{{ page.image.feature }});"></div></a>
        {% else %}
        <span class="entry-date date published updated"><time datetime="{{ page.date | date_to_xmlschema }}"><a href="{{ site.url }}{{ page.url }}">{{ page.date | date: "%B %d, %Y" }}</a></time></span><span class="author vcard"><span class="fn" style="text-transform: none;"><a href="https://about.me/{{ site.owner.aboutme }}" title="About {{ site.owner.name }}">{{ site.owner.name }}</a></span></span>
          {% if site.reading_time %}
        <span class="entry-reading-time">
          <i class="fa fa-clock-o"></i>
            {% include read-time-index.html %}
        </span><!-- /.entry-reading-time -->
          {% endif %}
        {% endif %}
      </div><!-- /.entry-meta -->
      {% if page.link %}
        <h1 class="entry-title"><a href="{{ site.url }}{{ page.url }}" class="permalink" rel="bookmark" title="{{ page.title }}"><i class="fa fa-bookmark"></i></a> <a href="{{ page.link }}">{{ page.title }}</a></h1>
      {% else %}
        <h1 class="entry-title"><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}" itemprop="url">{{ page.title }}</a></h1>
      {% endif %}
    </header>
    <div class="entry-content">
      {{ content }}
    </div><!-- /.entry-content -->
  </article><!-- /.hentry -->
  {% if site.related_posts.size > 0 %}{% include read-more.html %}{% endif %}
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}

</body>
</html>
